.loginDiv {
  height: 100%;
}

.loginGrid {
  width: 100%;
  height: 65vh;
  align-items: center;
  justify-content: center;
}

.loginCard {
  width: 15rem;
	height: 15rem;
}

.loginCard:hover {
  cursor: pointer !important;
}

.msIcon {
  width: 60%;
  height: 60%;
  margin-top: 10%;
  background: linear-gradient(135deg, 
    #f25022 0%, 
    #f25022 25%, 
    #7fba00 25%, 
    #7fba00 50%, 
    #00a4ef 50%, 
    #00a4ef 75%, 
    #ffb900 75%, 
    #ffb900 100%
  );
  color: rgba(211,211,211, 0.75);
  border-radius: 1rem;
}