.loginDiv {
  height: 100%;
}

.loginGrid {
  width: 100%;
  height: 65vh;
  align-items: center;
  justify-content: center;
}

.loginCard {
  width: 15rem;
	height: 15rem;
}

.loginCard:hover {
  cursor: pointer !important;
}

.fbIcon {
  width: 60%;
  height: 60%;
  margin-top: 10%;
  color: blue;
  background-color: white;
  border-radius: 5rem;
}