/* Styling for Parent Div Containers for Each Page */

.TopDiv {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  height: 100%; 
  text-align: center;
  width: 100%;
  margin-top: 4.5rem;
}

.TopDiv h1 {
	font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

/* General Card Styles */
.TemplateCard {
  background-color: #393939;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
	border: 2px solid white;
}

.TemplateCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgb(255, 255, 255);
}