.home img {
	height: 20rem;
	border-radius: 10px;
}

/* Styling for Team Phot and Summary */

.firstSection {
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: space-between;
	margin-top: 1rem;
}

.about {
	width: 60%;
	margin-left: 10%;   
}

.about h2 {
	margin-top: -0.5rem;
}

.about p {
	text-align: left;
}

/* Styling for Origin */
.origin {
	margin-top: 2rem;
	width: 100%;
	justify-content: center;
}
.origin h2 {
	text-align: left;
	padding-left: 2rem;
	border-bottom: 1px solid white;
	width: 100%;
}

.origin p {
	text-align: left;
	width: 80%;
	margin-left: 8.5%;
}

.first {
	margin-top: 3%;
}

/* Team Section Styling */
.team {
	width: 100%;
	justify-content: center;
}
.team h2 {
	text-align: left;
	padding-left: 2rem;
	border-bottom: 1px solid white;
	width: 100%;
}